/dist
.env
.DS_Store
/uploads
/node_modules
npm-error.log
.medusa-copy
/.idea
static
coverage

.medusa

!src/**

./tsconfig.tsbuildinfo
# package-lock.json
npm.lock
medusa-db.sql
build
.cache

.npm/*
!.npm/patches
!.npm/plugins
!.npm/releases
!.npm/sdks
!.npm/versions
